<project>
{{if .ProjectName}}
<project_name>{{.ProjectName}}</project_name>
{{end}}
<source_tree>
{{indent .FileTree}}
</source_tree>

<files>
{{- range .Files}}
<file path="{{.Path}}">
{{indent .Content}}
</file>
{{- end}}
</files>

</project> 